* {box-sizing: border-box;margin: 0px;text-align: center;font-family: monospace; font-weight: bold;}
canvas{
    background-color: rgb(247, 196, 56);
    margin: auto;
    display: block;
    border-radius: 2px;
}
.filter {
    float: left;
    border: 1px solid rgb(252, 226, 141);
    background-color: #f5cf53;
    width: 20%;
    height: 390px;
}
.filter button {
    display: block;
    color: black;
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
} 
.filter button:hover {background-color: rgb(241, 207, 148);}
.filter button.active {background-color: rgb(250, 154, 90);}
.img_manipulada{border: 1px solid rgb(248, 204, 122);height: 390px;}
input{cursor: pointer; width: 100%;}
label{float: left;}
span{float: right;}
#umbralRGB{
    position: absolute;
    background-color: #f3d6b5;
    color: rgb(77, 73, 61);
    padding: 20px;
    transform: translate(305px,1px); /*translate X e Y*/   
    font-size: 18px;
    width: 330px;
}
#original img{
    cursor: pointer;
    box-shadow: 0 8px 5px 0 rgba(14, 13, 13, 0.2);
    margin: 15px 30px 20px 30px;
    padding: 8px;
    border: 1px solid rgb(243, 179, 59);
    border-radius: 8px;
}
#original img:active {
    transform: translateY(8px);
}
button:active {
    box-shadow: 0 3px #977445;
    transform: translateX(3px);
}
.hide{
    display: none;
}
#reset{
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(245, 172, 37, 0.726);
    width: 150px;
    font-size: 18px;
}